<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='channel.css') }}">
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
		<script src="{{ url_for('static', filename='channel.js') }}"></script>
		<script type="text/javascript">
			var channel_id = {{ channel_id }}
		</script>
		<title>My Website</title>
	</head>
	<body>

		  <div class='wrapper'>
		  		<a href="#" id="leave" class="myButton1">Leave Channel</a>
		    	<h1 class='text-center'>
		      		{{channel_name}}
		    	</h1>
		    	<h4>Messages</h4>
		    	<div id="msg">
			    
			  	</div>
			  	<form id="new_message">
		  			<div class="form-row align-items-center">
		    			<div class="col-auto my-1" id="box">
		      				<textarea id="task" class="form-control" rows="3"></textarea>
		    			</div>
		    			<div class="col-auto my-1">
		      				<button id="submit" type="submit" class="btn btn-primary">send</button>
		    			</div>
		  			</div>
				</form>
		  	</div>
	</body>
</html>
